.joinPage {
	width: 100%;
	min-height: 92.8vh;
	border-radius: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	overflow: hidden;
	background-color: white;
}

.quote {
	font-family: var(--qoute-font);
}
