@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
:root {
	--soft-padding-gap: 10px;
	--hard-padding-gap: 1rem;
	--harder-padding-gap: 1.5rem;
	--soft-border-radius: 10px;
	--hard-border-radius: 20px;
	--circular-border-radius: 50%;
	--simple-font: "Lato", sans-serif;
	--formal-heading: "Montserrat", sans-serif;
	--primary-heading-font: "Roboto", sans-serif;
	--qoute-font: "Work Sans", sans-serif;
	--card-tile-font: "Poppins", sans-serif;
	--italic-heading: "Raleway", sans-serif;
	--price-font: "Rubik", sans-serif;
	--calm-font: "Quicksand", sans-serif;
	--lowest-z-index: -2;
	--lower-z-index: -1;
	--z-index: 0;
	--higher-z-index: 1;
	--highest-z-index: 2;
}
::after,
::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
